@import "../../styles/_color";
@import '../../styles/mixin';

%box-hover-shadow {
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 14px rgba(173, 180, 197, 0.3);
  }
}

%analysis-panel {
  width: 100%;
  border-radius: 4px;
  color: $color-text;
  background-color: $white;
  transition: all 150ms ease-in-out;
}
